image: Visual Studio 2017
configuration: Release
init:
  - git config --global core.autocrlf input
build_script:
  - cmd: build.cmd Build
test: off
version: 0.0.1.{build}
artifacts:
  - path: bin
    name: bin