source https://api.nuget.org/v3/index.json
framework: netstandard2.0, netcoreapp3.1
storage: none

nuget FSharp.Core >= 4.3.2 lowest_matching: true
nuget Microsoft.SourceLink.GitHub ~> 1.0.0 copy_local:true

group Test
  source https://api.nuget.org/v3/index.json
  framework: net6.0

  nuget FSharp.Core >= 5.0.0
  nuget Microsoft.NET.Test.Sdk ~> 16.0
  nuget xunit ~> 2.4.0
  nuget xunit.runner.visualstudio ~> 2.4.0 version_in_path: true
  nuget Unquote ~> 4.0
  nuget FsCheck 3.0.0-alpha4
  nuget FsCheck.XUnit 3.0.0-alpha4
  nuget BenchmarkDotNet ~> 0.13.0
  nuget Newtonsoft.Json
  nuget System.Formats.Cbor
  nuget FSharp.Data ~> 3.0
  nuget DotNext ~> 3.0
  
  nuget FParsec
  nuget FSharp.Quotations.Evaluator