group Tests
  framework: net47
  source https://nuget.org/api/v2

  nuget FSharp.Core
  nuget System.ValueTuple
  nuget Unquote
  nuget FParsec
  nuget FSharp.Quotations.Evaluator
  nuget FsCheck
  nuget xunit ~> 2.2.0
  nuget xunit.abstractions
  nuget xunit.extensions
  nuget xunit.runner.console ~> 2.2.0
  nuget xunit.runner.visualstudio ~> 2.2.0 version_in_path: true

group Build
  framework: net45
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx