source https://api.nuget.org/v3/index.json
framework: netstandard2.0, netcoreapp2.0, net461
redirects: force

# NB TypeShape project has conditional PackageReference 
# fixed to 3.1.2 for net40 builds. This is to address
# paket.references constraints
nuget FSharp.Core >= 4.3.2 lowest_matching: true
nuget System.Reflection.Emit.Lightweight >= 4.3 lowest_matching: true

nuget SourceLink.Create.CommandLine copy_local: true
clitool dotnet-sourcelink

# testing dependencies; NB intentionally kept in Main group
nuget System.ValueTuple
nuget Unquote ~> 4.0
nuget FsCheck ~> 3.0 prerelease
nuget FsCheck.XUnit
nuget xunit ~> 2.3.0
nuget xunit.runner.visualstudio ~> 2.3.0 version_in_path: true

nuget FParsec
nuget FSharp.Quotations.Evaluator

group Legacy
  source https://api.nuget.org/v3/index.json
  framework: net45

  nuget FSharp.Core >= 3.1.2 lowest_matching: true

group Build
  source https://api.nuget.org/v3/index.json
  framework: net461

  nuget FAKE
  nuget FSharp.Formatting
  nuget xunit.runner.console ~> 2.3.0

  github fsharp/FAKE modules/Octokit/Octokit.fsx